html,body,div{ margin:0; padding: 0; }
html{ height: 100%; }
body{ height: 100%; }
.bg{ width: 100%; height: 100%; padding: 20px 0; background-color: #fff; overflow: hidden;}
/* .box{ width:30.666%; background-color: #ffa600; height: 100px; margin: 2% 0 0 2%; border-radius: 4px; float: left; } */
.box{ width:28%; background-color: #ffa600; height: 100px; margin: 4% 0 0 4%; border-radius: 6px; float: left; }